.app {
    display: flex;
    justify-content: center;
}

/* .app-box styles */
.app-box {
    width:50%;
    text-align: center;
    border-radius: 5px;
    background-color: #79B4B7;
    height: 100%;
    padding:20px;
    box-shadow: 0 0 10px 5px rgb(207, 207, 207);
    margin-top: 5%;
}


/* sumbit box */

#task {
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    background-color: #fff;
}

#submit {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffd884;
    text-transform: uppercase;
    font-weight: 900;
    color: #383838;
    transition: opacity ease-in 500ms;
}

#submit:hover {
    box-shadow: 0 0 5px 3px #9D9D9D;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #94acad;
    font-weight: 400;
}

hr {
    height: 3px;
    border: none;
    border-radius: 3px;
    background-color: #fff;
    opacity: 0.7;
}


/* task list */

#task-list {
    list-style-type: none;
    text-align: center;
    border-radius: 5px;
    background-color: #FEFBF3;
} 

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    min-height: 40px;
}

#cross {
    height: 20px;
    opacity: 0.5;
    transition: opacity ease-in 300ms;
}

#cross:hover {
    opacity: 1;
}

.todo p {
    text-transform: uppercase;
    inline-size: 130px;
    overflow-wrap: break-word;
    text-align: left;
    font-size: 14px;
}

#task-list button {
    background-color: #9D9D9D;
    text-align: center;
    border-radius: 5px;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    width: 110px;
    color: #383838;
    transition: background-color ease 700ms;
}


#task-list .is-checked{
    background-color: #ffd884;
    transition: opacity ease 700ms;
}


@media only screen and (max-width: 768px) {
    .app-box {
        width:100%;
    }

    #task-list .buttonHover {
        background-color: #ffd884;
        opacity: 0.8;
    }
    #task-list .is-checked:hover, #task-list .is-checked:active{
        opacity: 0.8;
    }

}
@media only screen and (min-width: 1000px) {
    html {
        height: 100%;
    }
    body {
        border: 5px solid var(--main-text);
        border-radius: 2rem;
    }
}





