main {
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 2.5rem;
}

/* calculator styles */

.container {
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 120px;
    grid-auto-rows: 100px;
    gap: 3px;
    max-width: 400px;
    box-sizing: content-box;
    background-color: #c5c5c5;
    box-shadow: 0 0 15px 8px #c5c5c5;
    border-radius: 5px;
}

.box {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:1;
    transition: background-color ease 400ms;
}

.box:hover {
    cursor: pointer;
}

.box:active {
    background-color: #ffae00;
}

.display {
    grid-column: span 4;
    background-color: #f0f0f0;
}

.box > p{
    color: #F0F0F0;
    font-size: 2rem;
}

.fa-backspace {
    color: #f0f0f0;
}

.zero {
    grid-column: span 2;
}

.top {
    background-color: #555;
}

.digit{
    background-color: #888;
}

.side {
    background-color: #910000;
}

.side > p {
    font-size: 2.5rem;
}

#display-output {
    padding: 0 2rem;
    font-size: 4rem;
    color: #303030;
    justify-content: flex-end;
}


@media only screen and (max-width: 600px) {
    h1 {
        box-shadow: none;
    }
    main {
        width: 100%;
        max-width: 100%;
        margin: 0;
        border-radius: 0;
        padding: 0;
    }
    .container {
        box-shadow: none;
        width: 100%;
        position: relative;
    }
    
}